/* DOES NOT WORK - not specific enough */


/* Works - pass "my-custom-class" in cssClass to increase specificity */

.my-custom-class {
    color: green;
}

ion-card {
    box-shadow: none !important
}

ion-header {
    text-align: center;
    align-content: center;
    background-color: rgb(240, 133, 133) !important;
}

ion-toolbar {
    --background: rgb(240, 133, 133) !important;
}

.text-top {
    text-align: center;
    margin-top: -18px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.ion-align-self-center {
    margin-top: -15px;
}

:root {
    ion-tab-button:nth-child(1) {
        ion-icon {
            color: var(--ion-color-secondary) !important;
            /* --ion-color-base: var(--ion-color-secondary) !important; */
        }
    }
    ion-tab-button.tab-selected:nth-child(1) {
        ion-icon {
            color: var(--ion-color-secondary) !important;
            /* --ion-color-base: var(--ion-color-secondary) !important; */
        }
    }
}

ion-loading {
    color: green;
}

.iconText>ion-col>ion-icon {
    margin-left: 25px;
}

.iconText>ion-col>ion-label {
    position: flex;
    font-size: 12px;
    margin-left: 10px;
}

app-component-telemetry {
    width: 100%;
}

.deviceTemplate-card>ion-img {
    margin-left: 14px;
}

ion-segment-button {
    width: 40px;
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 10px;
    border: none;
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
}

ion-avatar {
    width: 70% !important;
    height: 70% !important;
    max-width: 70px !important; //any size
    max-height: 70px !important; //any size
}

h5 {
    font-weight: bold;
    font-size: 14px;
}

h4 {
    font-weight: bold;
    font-size: 18px;
}

ion-card-header {
    margin-top: -14px;
}

ion-card-content {
    margin-top: -8px;
}