/* DOES NOT WORK - not specific enough */


/* Works - pass "my-custom-class" in cssClass to increase specificity */

.my-custom-class {
    color: green;
}

.ionadd {
    margin-right: 20px;
    margin-top: 10px;
}

ion-card {
    box-shadow: none !important
}

ion-toolbar {
    --background: rgb(167, 195, 236) !important;
}

ion-header {
    background-color: rgb(167, 195, 236);
}

.text-top {
    text-align: center;
    margin-top: -16px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.ion-align-self-center {
    margin-top: -15px;
}

:root {
    ion-tab-button:nth-child(1) {
        ion-icon {
            color: var(--ion-color-secondary) !important;
            /* --ion-color-base: var(--ion-color-secondary) !important; */
        }
    }
    ion-tab-button.tab-selected:nth-child(1) {
        ion-icon {
            color: var(--ion-color-secondary) !important;
            /* --ion-color-base: var(--ion-color-secondary) !important; */
        }
    }
}

ion-loading {
    color: green;
}

.iconText>ion-col>ion-icon {
    margin-left: 25px;
}

.iconText>ion-col>ion-label {
    position: flex;
    font-size: 12px;
    margin-left: 14px;
}

.segmentIcon {
    margin-right: 7px;
    height: 14px;
}

ion-list-header {
    margin-bottom: -9px;
}

app-component-telemetry {
    width: 100%;
}

ion-segment-button {
    width: 40px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 10px;
    border: none;
    background-color: rgb(248, 248, 248);
    border-radius: 0%;
}

ion-input {
    border: none; // for black border
    background-color: transparent;
}

.progressbar {
    counter-reset: step;
    margin-left: -25px;
    margin-right: -60px;
    display: flex;
    flex-wrap: wrap;
}

.progressbar li {
    list-style-type: none;
    width: 14%;
    float: left;
    font-size: 11px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:after {
    width: 100%;
    height: 3px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    //color: white;
    color: black;
}

.progressbar li.active:before {
    border-color: #55b776;
    background-color: #55b776;
}

.progressbar li.active+li:after {
    background-color: #55b776;
}
