<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button text="Patient Dashboard" defaultHref="/tabs/tab1" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">

            <ion-button>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
    <ion-row>
        <ion-col size="4" class="ion-align-self-start">

        </ion-col>
        <ion-col size="4" class="ion-align-self-center">
            <ion-card color="transparent" class="deviceTemplate-card">
                <ion-img src='assets/icon/patiW.png'></ion-img>

            </ion-card>
        </ion-col>
        <ion-col size="4" class="ion-align-self-end">
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="1" class="ion-align-self-start">

        </ion-col>
        <ion-col size="10" class="ion-align-self-center">

            <ion-list-header>
                <ion-label class="text-top">Add Patient</ion-label>

            </ion-list-header>

        </ion-col>
        <ion-col size="1" class="ion-align-self-end">

        </ion-col>

    </ion-row>


</ion-header>
<ion-content>

    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input type="text" formControlName="Name" class="form-control"></ion-input>
            <div class="error" *ngIf="patientForm.controls.Name.errors && patientForm.controls.Name.touched">
                Please fill out this field
            </div>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input type="text" formControlName="Description" class="form-control"></ion-input>
            <div class="error" *ngIf="patientForm.controls.Description.errors && patientForm.controls.Description.touched">
                Please fill out this field
            </div>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="stacked">User</ion-label>

            <ion-select multiple="false" [value]="invitedUserId" [placeholder]="invitedUserName" okText="Okay" cancelText="Dismiss" formControlName="UserPatient_oid">

                <div class="error" *ngIf="patientForm.controls.UserPatient_oid.errors && patientForm.controls.UserPatient_oid.touched">
                    Please fill out this field
                </div>

                <div>
                    <ion-select-option *ngFor="let user of allUsers" [value]="user['Id']">{{user['Surnames']}}</ion-select-option>

                </div>

            </ion-select>
            <ion-item [routerLink]="['add-user']">
                <ion-button shape="round" fill="outline">
                    <ion-icon name="add"></ion-icon>
                    New User
                </ion-button>
            </ion-item>


        </ion-item>
        <br>
        <br>

        <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="light" [disabled]="!patientForm.valid">Done</ion-button>
    </form>
</ion-content>
