<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button text="Back" defaultHref="/tabs/tab1" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>


        <ion-button slot="end" fill="clear" (click)="goToInicio()">
            skip
        </ion-button>


    </ion-toolbar>
    <ion-row>
        <ion-col size="4" class="ion-align-self-start">

        </ion-col>
        <ion-col size="4" class="ion-align-self-center">
            <ion-card color="transparent" class="deviceTemplate-card">
                <ion-img src='assets/icon/patiW.png'></ion-img>

            </ion-card>
        </ion-col>
        <ion-col size="4" class="ion-align-self-end">
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="1" class="ion-align-self-start">

        </ion-col>
        <ion-col size="10" class="ion-align-self-center">

            <ion-list-header>
                <ion-label class="text-top">Add Patient</ion-label>

            </ion-list-header>

        </ion-col>
        <ion-col size="1" class="ion-align-self-end">

        </ion-col>

    </ion-row>
    <ion-row>

        <ion-col size="12">

            <ul class="progressbar">
                <li class="active">Scenario</li>
                <li class="actual">Patient</li>
                <li>Access mode</li>
                <li>Device</li>
                <li>Care plan</li>
                <li>Activities</li>

            </ul>

        </ion-col>


    </ion-row>


</ion-header>
<ion-content>

    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">

        <ion-item>

            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" formControlName="Email" class="form-control" required></ion-input>
            <div class="error" *ngIf="patientForm.controls.Email.errors && patientForm.controls.Email.touched">
                To add Patient please fill out this field
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" formControlName="Pass" class="form-control" required></ion-input>
            <div class="error" *ngIf="patientForm.controls.Pass.errors && patientForm.controls.Pass.touched">
                To add Patient please fill out this field
            </div>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="stacked">Existing user who has not been a patient</ion-label>

            <ion-select multiple="false" [value]="invitedUserId" [placeholder]="invitedUserName" okText="Okay" cancelText="Dismiss" formControlName="UserPatient_oid">

                <div class="error" *ngIf="patientForm.controls.UserPatient_oid.errors && patientForm.controls.UserPatient_oid.touched">
                    Please fill out this field
                </div>

                <div>
                    <ion-select-option *ngFor="let user of findNotAlreadyPatient" [value]="user['Id']">{{user['Name']}} {{user['Surnames']}}</ion-select-option>

                </div>

            </ion-select>
            <ion-item [routerLink]="['add-user']">
                <ion-button shape="round" fill="outline">
                    <ion-icon name="add"></ion-icon>
                    New user data
                </ion-button>
            </ion-item>


        </ion-item>
        <br>
        <br>

        <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="primary" [disabled]="!patientForm.valid || patientAddDone">Done</ion-button>
    </form>
    <br>
    <br>

    <form [formGroup]="patientProfileForm" (ngSubmit)="AssignPatientProfile()" [hidden]="!patientAddDone" class="animate__animated animate__slideInDown animate__fast">

        <ion-item lines="full">
            <ion-label position="stacked">Patient Profile</ion-label>

            <ion-select multiple="false" okText="Okay" cancelText="Dismiss" formControlName="p_patientprofile_oid">

                <div class="error" *ngIf="patientProfileForm.controls.p_patientprofile_oid.errors && patientProfileForm.controls.p_patientprofile_oid.touched">
                    Please fill out this field
                </div>

                <div>
                    <ion-select-option *ngFor="let patientProfile of allPatientProfile" [value]="patientProfile['Id']">{{patientProfile['Name']}}</ion-select-option>

                </div>

            </ion-select>

        </ion-item>
        <br>
        <br>

        <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="primary" [disabled]="!patientProfileForm.valid || patientProfileAddDone">Done</ion-button>
    </form>
    <br>
    <br>
    <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="success" [disabled]="!patientProfileAddDone" [routerLink]="['add-patient-access']">2/6 NEXT</ion-button>
</ion-content>
