<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button text="Back" defaultHref="/tabs/tab1/patientAccess" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>


        <ion-button slot="end" fill="clear" (click)="goToInicio()">
            skip
        </ion-button>


    </ion-toolbar>
    <ion-row>
        <ion-col size="4" class="ion-align-self-start">

        </ion-col>
        <ion-col size="4" class="ion-align-self-center">
            <ion-card color="transparent" class="deviceTemplate-card">
                <ion-img src='assets/icon/accessW.png'></ion-img>

            </ion-card>
        </ion-col>
        <ion-col size="4" class="ion-align-self-end">
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="1" class="ion-align-self-start">

        </ion-col>
        <ion-col size="10" class="ion-align-self-center">

            <ion-list-header>
                <ion-label class="text-top">Add Patient Access</ion-label>

            </ion-list-header>

        </ion-col>
        <ion-col size="1" class="ion-align-self-end">

        </ion-col>

    </ion-row>
    <ion-col size="12">

        <ul class="progressbar">
            <li class="active">Scenario</li>
            <li class="active">Patient</li>
            <li class="actual">Access mode</li>
            <li>Device</li>
            <li>Care plan</li>
            <li>Activities</li>

        </ul>

    </ion-col>

</ion-header>
<ion-content>

    <form [formGroup]="patientAccessForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input type="text" formControlName="Name" class="form-control"></ion-input>
            <div class="error" *ngIf="patientAccessForm.controls.Name.errors && patientAccessForm.controls.Name.touched">
                To add Scenario please fill out this field
            </div>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input type="text" formControlName="Description" class="form-control"></ion-input>
            <div class="error" *ngIf="patientAccessForm.controls.Description.errors && patientAccessForm.controls.Description.touched">
                To add Scenario please fill out this field
            </div>
        </ion-item>
        <br>
        <br>

        <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="primary" [disabled]="!patientAccessForm.valid || accessModeAddDone">Done</ion-button>
    </form>
    <br>
    <br>
    <form [formGroup]="patientAccessProfileForm" (ngSubmit)="assignAccessMode()" [hidden]="!accessModeAddDone" class="animate__animated animate__slideInDown animate__fast">

        <ion-item lines="full">
            <ion-label position="stacked">Profile Access</ion-label>

            <ion-select multiple="false" okText="Okay" cancelText="Dismiss" formControlName="idPatientProfile">

                <div class="error" *ngIf="patientAccessProfileForm.controls.idPatientProfile.errors && patientAccessProfileForm.controls.idPatientProfile.touched">
                    Please fill out this field
                </div>

                <div>
                    <ion-select-option *ngFor="let accessMode of allAccessMode" [value]="accessMode['Id']">{{accessMode['Name']}}</ion-select-option>

                </div>

            </ion-select>

        </ion-item>
        <br>
        <br>

        <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="primary" [disabled]="!patientAccessProfileForm.valid || accessModeProfileAddDone">Done</ion-button>
    </form>
    <br>
    <br>
    <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="success" [disabled]="!accessModeProfileAddDone" [routerLink]="['add-device']">3/6 NEXT</ion-button>
</ion-content>
