ion-content {
    --padding-top: 85%;
    --padding-start: 10%;
    --padding-end: 10%;
}

.input-group {
    background: rgba(46, 83, 133, 0.884);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: left;
}

ion-content {
    --background: url('/assets/icon/backW.png') 0 0/100% 100% no-repeat;
    text-align: center;
    font-size: larger;
}

ion-input {
    --background: white;
    --padding-bottom: 15px;
    font-size: 14px;
}

ion-title {
    color: rgb(29, 126, 236);
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.767);
    border-radius: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.text-danger {
    font-size: 18px;
    color: black;
    background-color: rgba(224, 224, 61, 0.767);
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
