ion-content {
    --padding-top: 85%;
    --padding-start: 10%;
    --padding-end: 10%;
}

.input-group {
    background: rgba(46, 83, 133, 0.884);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: left;
}

ion-content {
    --background: url('/assets/icon/backWW.png') 0 0/100% 100% no-repeat;
    text-align: center;
    font-size: larger;
}

ion-input {
    --background: white;
    --padding-bottom: 15px;
    font-size: 14px;
}

ion-title {
    color: rgb(207, 228, 207);
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-danger {
    font-size: 18px;
    color: black;
    background-color: rgb(233, 233, 136);
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
