<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button text="Patient Access" defaultHref="/tabs/tab1/patientAccess" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
    <ion-row>
        <ion-col size="4" class="ion-align-self-start">

        </ion-col>
        <ion-col size="4" class="ion-align-self-center">
            <ion-card color="transparent" class="deviceTemplate-card">
                <ion-img src='assets/icon/accessW.png'></ion-img>

            </ion-card>
        </ion-col>
        <ion-col size="4" class="ion-align-self-end">
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="1" class="ion-align-self-start">

        </ion-col>
        <ion-col size="10" class="ion-align-self-center">

            <ion-list-header>
                <ion-label class="text-top">{{ patientAccessName}}</ion-label>

            </ion-list-header>

        </ion-col>
        <ion-col size="1" class="ion-align-self-end">

        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="1" class="ion-align-self-start">

        </ion-col>
        <ion-col size="10" class="ion-align-self-center">

            <ion-list-header>

                <ion-label class="text-top">
                    <h4>{{ patientAccessDescrip}}</h4>
                </ion-label>
            </ion-list-header>

        </ion-col>
        <ion-col size="1" class="ion-align-self-end">

        </ion-col>

    </ion-row>
    <ion-segment value="all" color="tertiary" class="animate__animated animate__slideInUp animate__fast" scrollable="true" mode="md" [(ngModel)]="segmentModel" lines="none">
        <ion-segment-button value="details">
            <ion-icon name="analytics"></ion-icon>
            <ion-label>Access Mode</ion-label>
        </ion-segment-button>
        <ion-segment-button value="accessModeDetail">
            <ion-icon name="accessibility-outline"></ion-icon>
            <ion-label>Detail Access Mode</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>

    <div class="segment" *ngIf="segmentModel === 'details'">
        <ion-list>
            <ion-list-header>
                <ion-icon class="segmentIcon" name="accessibility-outline"></ion-icon>Access Mode Name</ion-list-header>
            <ion-item>

                <ion-label text-wrap> {{$any(accessMode)?.Name}}</ion-label>
            </ion-item>
            <ion-list-header>
                <ion-icon class="segmentIcon" name="clipboard-outline"></ion-icon>Description</ion-list-header>
            <ion-item>

                <ion-label text-wrap> {{$any(accessMode)?.Description}}</ion-label>

            </ion-item>
            <ion-list-header>

                <ion-icon class="segmentIcon" name="qr-code-outline"></ion-icon>Access Mode Type</ion-list-header>
            <ion-item>

                <ion-label *ngIf="$any(accessMode)?.TypeAccessMode === 1"> Auditory</ion-label>
                <ion-label *ngIf="$any(accessMode)?.TypeAccessMode === 2"> Colour</ion-label>
                <ion-label *ngIf="$any(accessMode)?.TypeAccessMode === 3"> ItemSize</ion-label>
                <ion-label *ngIf="$any(accessMode)?.TypeAccessMode === 4"> Olfactory</ion-label>
                <ion-label *ngIf="$any(accessMode)?.TypeAccessMode === 5"> Orientation</ion-label>
                <ion-label *ngIf="$any(accessMode)?.TypeAccessMode === 6"> Position</ion-label>
                <ion-label *ngIf="$any(accessMode)?.TypeAccessMode === 7"> Tactile</ion-label>
                <ion-label *ngIf="$any(accessMode)?.TypeAccessMode === 8"> Text on image</ion-label>
                <ion-label *ngIf="$any(accessMode)?.TypeAccessMode === 9"> Textual</ion-label>
                <ion-label *ngIf="$any(accessMode)?.TypeAccessMode === 10"> Visual</ion-label>



                <!-- <ion-label> {{$any(patientData)?.IsActive}}</ion-label> -->

            </ion-item>


        </ion-list>
    </div>
    <div class="segment" *ngIf="segmentModel === 'accessModeDetail'">
        <app-detail-access-mode></app-detail-access-mode>
    </div>
</ion-content>
