<ul class="progressbar">
    <li [hidden]="scenarioNull" class="active">Scenario</li>
    <li [hidden]="!scenarioNull" class="lack">Scenario</li>
    <li [hidden]="!patientNull" class="lack" [routerLink]="scenarioNull === false ?['add-patient'] : []">Patient</li>
    <li [hidden]="patientNull" class="active">Patient</li>
    <li [hidden]="!patientAccessNull" class="lack" [routerLink]="patientNull === false ? ['add-patient-access']: [] ">Access mode</li>
    <li [hidden]="patientAccessNull" class="active">Access mode</li>
    <li [hidden]="!devicesNull" class="lack" [routerLink]="patientAccessNull === false ? ['add-device']: [] ">Device</li>
    <li [hidden]="devicesNull" class="active">Device</li>
    <li [hidden]="!carePlanNull" class="lack" [routerLink]="patientNull === false ? ['add-careplan']: [] ">Care plan</li>
    <li [hidden]="carePlanNull" class="active">Care plan</li>
    <li [hidden]="(!medicationNull || !communicationNull) || (!appointmentNull || !nutritionNull)" class="lack" [routerLink]="carePlanNull === false ? ['careActivity','all']: [] ">Activities</li>
    <li [hidden]="(medicationNull && communicationNull) && (appointmentNull && nutritionNull)" class="active">Activities</li>

</ul>