<ul class="progressbar">
    <li class="active">Scenario</li>
    <li [hidden]="!patientNull" class="lack" [routerLink]="['add-patient']">User</li>
    <li [hidden]="patientNull" class="active">User</li>
    <li [hidden]="!patientAccessNull" class="lack" [routerLink]="patientNull === false ? ['add-patient-access']: [] ">Access mode</li>
    <li [hidden]="patientAccessNull" class="active">Access mode</li>
    <li [hidden]="!devicesNull" class="lack" [routerLink]="patientAccessNull === false ? ['add-device']: [] ">Device</li>
    <li [hidden]="devicesNull" class="active">Device</li>
    <li [hidden]="!carePlanNull" class="lack" [routerLink]="patientNull === false ? ['add-careplan']: [] ">Care plan</li>
    <li [hidden]="carePlanNull" class="active">Care plan</li>
    <li [hidden]="(!medicationNull || !communicationNull) || (!appointmentNull || !nutritionNull)" class="lack">Activities</li>
    <li [hidden]="(medicationNull && communicationNull) && (appointmentNull && nutritionNull)" class="active">Activities</li>

</ul>
