<!-- <ion-header [translucent]="true"> -->
<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button text="Scenarios" defaultHref="/scenarios" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-row>
        <ion-col size="4" class="ion-align-self-start">

        </ion-col>
        <ion-col size="4" class="ion-align-self-end">
            <ion-card color="transparent" class="deviceTemplate-card">
                <ion-img src='assets/icon/disabilityW.svg'></ion-img>

            </ion-card>
        </ion-col>
        <ion-col size="4" class="ion-align-self-center">
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="1" class="ion-align-self-start">

        </ion-col>
        <ion-col size="10" class="ion-align-self-center">

            <ion-list-header>
                <ion-label class="text-top">Patient</ion-label>
            </ion-list-header>

        </ion-col>
        <ion-col size="1" class="ion-align-self-end">

        </ion-col>

    </ion-row>
</ion-header>

<ion-content [fullscreen]="true">

    <section id="dashboardSection">
        <ion-grid>
            <ion-row>

                <ion-col size="6" class="ion-align-self-center" [routerLink]="['patient']">
                    <ion-card color="transparent" class="disability-card">
                        <ion-img src='assets/icon/pati.png'></ion-img>
                        <ion-label>Patients</ion-label>
                    </ion-card>
                </ion-col>
                <ion-col size="6" class="ion-align-self-end" [routerLink]="['devices']">
                    <ion-card color="transparent" class="deviceTemplate-card">
                        <ion-img src='assets/icon/practitioner.png'></ion-img>
                        <ion-label>Practitioner</ion-label>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6" class="ion-align-self-start" [routerLink]="['telemetry-data']">
                    <ion-card color="transparent" class="nurse-card">
                        <ion-img src='assets/icon/family.png'></ion-img>
                        <ion-label>Related Person</ion-label>
                    </ion-card>

                    <!-- <ion-card text-center color="transparent" class="nurse-card">
                        <ion-img src='assets/icon/telemetryDataW.svg'></ion-img>
                        <ion-label>Telemetry Data</ion-label>
                    </ion-card> -->
                </ion-col>

                <ion-col size="6" class="ion-align-self-end" [routerLink]="['/tabs/tab2']">
                    <ion-card text-center color="transparent" class="vital-card">
                        <ion-img src='assets/icon/access.png'></ion-img>
                        <ion-label>Patient Access</ion-label>
                    </ion-card>

                    <!--  <ion-card color="transparent" class="deviceTemplate-card" [routerLink]="['/tabs/tab2']">
                        <ion-img src='assets/icon/disabilityBehavW.svg'></ion-img>
                        <ion-label>Disability behavior</ion-label>
                    </ion-card> -->
                </ion-col>

            </ion-row>


        </ion-grid>
    </section>

</ion-content>
