ion-content {
    --background: url('/') 0 0/100% 100% no-repeat;
    border-radius: 20px;
}

ion-header {
    --background-color: rgba(211, 193, 193, 0.801);
    border-radius: 20px;
}

ion-menu-button {
    color: rgb(0, 47, 255);
}

ion-title {
    text-align: left;
    font-size: 18px;
    color: rgb(151, 201, 26) !important;
}

#dashboardSection {
    max-width: 100%;
    max-height: auto;
    text-align: center;
    background-color: rgba(221, 230, 225, 0.24);
    margin-top: 6px;
    margin-left: 3px;
    margin-bottom: 6px;
    margin-right: 3px;
    border-radius: 20px;
    box-shadow: 10px;
}

ion-header {
    text-align: center;
    align-content: center;
    background-color: rgba(151, 201, 26, 0.658) !important;
}

ion-icon {
    width: 30px;
    height: 30px;
}

ion-card {
    align-content: center;
    --ion-background-color: transparent !important;
    --ion-border-color: transparent !important;
    box-shadow: none;
    width: 60%;
    height: 60%;
    margin-left: 30px;
}

ion-label {
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 16px;
    color: black;
}


/* DOES NOT WORK - not specific enough */


/* Works - pass "my-custom-class" in cssClass to increase specificity */

.my-custom-class {
    color: green;
}

ion-card {
    box-shadow: none !important
}

ion-toolbar {
    --background: rgb(151, 201, 26, 0.658);
}

ion-header {
    background-color: rgba(153, 42, 42, 0.39);
    border-radius: 20px;
}

.text-top {
    text-align: center;
    margin-top: -11px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.ion-align-self-end {
    margin-top: 11px;
}

:root {
    ion-tab-button:nth-child(1) {
        ion-icon {
            color: var(--ion-color-secondary) !important;
            /* --ion-color-base: var(--ion-color-secondary) !important; */
        }
    }
    ion-tab-button.tab-selected:nth-child(1) {
        ion-icon {
            color: var(--ion-color-secondary) !important;
            /* --ion-color-base: var(--ion-color-secondary) !important; */
        }
    }
}

ion-loading {
    color: green;
}

.iconText>ion-col>ion-icon {
    margin-left: 25px;
}

.iconText>ion-col>ion-label {
    position: flex;
    font-size: 12px;
    margin-left: 10px;
}

app-component-telemetry {
    width: 100%;
}

ion-segment-button {
    width: 10px;
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 10px;
    border: none;
    background-color: rgb(27, 25, 25);
    border-radius: 50%;
}

.my-custom-menu {
    --width: 500px;
}
