<!-- <ion-header [translucent]="true"> -->
<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start" class="backButton">
            <ion-back-button text="Scenarios" defaultHref="/scenarios" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-row>
        <ion-col size="4" class="ion-align-self-start">

        </ion-col>
        <ion-col size="4" class="ion-align-self-end">
            <ion-card color="transparent" class="pati-card">
                <ion-img src='assets/icon/carePlan.png'></ion-img>

            </ion-card>
        </ion-col>
        <ion-col size="4" class="ion-align-self-center">
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="1" class="ion-align-self-start">

        </ion-col>
        <ion-col size="10" class="ion-align-self-center">

            <ion-list-header class="justify-content-start">
                <ion-label class="text-top">Care Plan Section</ion-label>
            </ion-list-header>

        </ion-col>
        <ion-col size="1" class="ion-align-self-end">

        </ion-col>

    </ion-row>
</ion-header>

<ion-content [fullscreen]="true">

    <section id="dashboardSection">
        <ion-grid>
            <ion-row>

                <ion-col size="6" class="ion-align-self-start" [routerLink]="['carePlan']">
                    <ion-card color="transparent" class="disability-card">
                        <ion-img src='assets/icon/carePlans.png'></ion-img>
                        <ion-label>Care plans</ion-label>
                    </ion-card>
                </ion-col>
                <ion-col size="6" class="ion-align-self-end" [routerLink]="['vitalSign']">
                    <ion-card color="transparent" class="disability-card">
                        <ion-img src='assets/icon/vitalSigns.png'></ion-img>
                        <ion-label>Vital Signs</ion-label>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-item-divider>
                <ion-label>Care Activities</ion-label>
            </ion-item-divider>
            <ion-row>
                <ion-col size="6" class="ion-align-self-start" [routerLink]="['medication']">
                    <ion-card color="transparent" class="disability-card">
                        <ion-img src='assets/icon/medication.png'></ion-img>
                        <ion-label>Medication</ion-label>
                    </ion-card>
                </ion-col>
                <ion-col size="6" class="ion-align-self-start" [routerLink]="['appointment']">
                    <ion-card color="transparent" class="disability-card">
                        <ion-img src='assets/icon/appointment.png'></ion-img>
                        <ion-label>Appointment</ion-label>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6" class="ion-align-self-start" [routerLink]="['communication']">
                    <ion-card color="transparent" class="disability-card">
                        <ion-img src='assets/icon/communication.png'></ion-img>
                        <ion-label>Communication</ion-label>
                    </ion-card>
                </ion-col>
                <ion-col size="6" class="ion-align-self-start" [routerLink]="['nutrition']">
                    <ion-card color="transparent" class="disability-card">
                        <ion-img src='assets/icon/nutrition.png'></ion-img>
                        <ion-label>Nutrition</ion-label>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6" class="ion-align-self-start" [routerLink]="['chat']">
                    <ion-card color="transparent" class="disability-card">
                        <ion-img src='assets/icon/message.png'></ion-img>
                        <ion-label>Messanger</ion-label>
                    </ion-card>
                </ion-col>
                <ion-col size="6" class="ion-align-self-start">

                </ion-col>
            </ion-row>


        </ion-grid>
    </section>

</ion-content>
