<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button text="Patients" defaultHref="/tabs/patient" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
    <ion-row>
        <ion-col size="4" class="ion-align-self-start">

        </ion-col>
        <ion-col size="4" class="ion-align-self-end">
            <ion-card color="transparent" class="deviceTemplate-card">
                <ion-img src='assets/icon/patient.png'></ion-img>

            </ion-card>
        </ion-col>
        <ion-col size="4" class="ion-align-self-center">
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="1" class="ion-align-self-start">

        </ion-col>
        <ion-col size="10" class="ion-align-self-center">

            <ion-list-header>
                <ion-label class="text-top">{{ patientName}}</ion-label>
            </ion-list-header>

        </ion-col>
        <ion-col size="1" class="ion-align-self-end">

        </ion-col>

    </ion-row>
    <ion-segment value="all" color="tertiary" class="animate__animated animate__slideInUp animate__fast" scrollable="true" mode="md" [(ngModel)]="segmentModel" lines="none">
        <ion-segment-button value="details">
            <ion-icon name="receipt-outline"></ion-icon>
            <ion-label>Details</ion-label>
        </ion-segment-button>
        <ion-segment-button value="profile">
            <ion-icon name="receipt-outline"></ion-icon>
            <ion-label>Patient Profile</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>

    <div class="segment" *ngIf="segmentModel === 'details'">
        <ion-list>
            <ion-list-header>
                <ion-icon class="segmentIcon" name="clipboard-outline"></ion-icon>Description</ion-list-header>
            <ion-item>

                <!-- <ion-label text-wrap> {{patientProfile['Description']}}</ion-label> -->

            </ion-item>
            <ion-list-header>
                <ion-icon class="segmentIcon" name="warning-outline"></ion-icon>Hazard value</ion-list-header>
            <ion-item>
                <!--  <ion-label *ngIf="patientProfile['HazardAvoidance'] == 0"> Undefined</ion-label>
                <ion-label *ngIf="patientProfile['HazardAvoidance'] == 1"> Flashing</ion-label>
                <ion-label *ngIf="patientProfile['HazardAvoidance'] == 2"> Motion Simulation</ion-label>
                <ion-label *ngIf="patientProfile['HazardAvoidance'] == 3"> Olfatory Hazard</ion-label>
                <ion-label *ngIf="patientProfile['HazardAvoidance'] == 4"> Sound</ion-label> -->
            </ion-item>
            <ion-list-header>
                <ion-icon class="segmentIcon" name="globe-outline"></ion-icon>Region</ion-list-header>
            <ion-item>

                <!--  <ion-label> {{patientProfile['Region']}}</ion-label> -->

            </ion-item>


            <ion-list-header>
                <ion-icon class="segmentIcon" name="language-outline"></ion-icon>Preferred language</ion-list-header>
            <ion-item>

                <!--      <ion-label *ngIf="patientProfile['PreferredLanguage'] == 1"> ES</ion-label>
                <ion-label *ngIf="patientProfile['PreferredLanguage'] == 2"> EN</ion-label>
                <ion-label *ngIf="patientProfile['PreferredLanguage'] == 3"> FR</ion-label>
                <ion-label *ngIf="patientProfile['PreferredLanguage'] == 4"> IT</ion-label>
                <ion-label *ngIf="patientProfile['PreferredLanguage'] == 5"> PR</ion-label>
                <ion-label *ngIf="patientProfile['PreferredLanguage'] == 6"> DE</ion-label>
                <ion-label *ngIf="patientProfile['PreferredLanguage'] == 7"> JA</ion-label>
                <ion-label *ngIf="patientProfile['PreferredLanguage'] == 8"> KO</ion-label>
                <ion-label *ngIf="patientProfile['PreferredLanguage'] == 9"> ZH</ion-label> -->


            </ion-item>
        </ion-list>
    </div>
    <div class="segment" *ngIf="segmentModel === 'profile'">
        <app-detail-profile></app-detail-profile>
    </div>
</ion-content>
