ion-content {
    --background: url('/assets/icon/backW.jpg') 0 0/100% 100% no-repeat;
    //--background: url('/') 0 0/100% 100% no-repeat;
    border-radius: 20px;
}

ion-menu-button {
    color: rgb(0, 47, 255);
}

ion-title {
    text-align: left;
    font-size: 18px;
}

.text-top {
    font-weight: bold;
    font-size: 22px;
    margin-right: 10px;
}

#dashboardSection {
    max-width: 100%;
    max-height: auto;
    text-align: center;
    background-color: rgba(221, 230, 225, 0.24);
    margin-top: 2px;
    margin-left: 3px;
    margin-bottom: 6px;
    margin-right: 3px;
    border-radius: 20px;
    box-shadow: 10px;
}

ion-header {
    text-align: center;
    align-content: center;
    /* background-color: rgb(180, 199, 136) !important; */
    --background: url('/assets/icon/backTop.jpg') 0 0/100% 100% no-repeat;
}

ion-icon {
    width: 30px;
    height: 30px;
}

ion-card {
    align-content: center;
    --ion-background-color: transparent !important;
    --ion-border-color: transparent !important;
    box-shadow: none;
    width: 60%;
    height: 60%;
    margin-left: 30px;
}

ion-label {
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 16px;
    color: black;
}

.pati-card {
    margin-left: 10px;
    width: 90%;
    height: 90%;
}


/* DOES NOT WORK - not specific enough */


/* Works - pass "my-custom-class" in cssClass to increase specificity */

ion-card {
    box-shadow: none !important
}

ion-toolbar {
    /* --background: rgb(180, 199, 136) !important; */
    --background: url('/assets/icon/greenBackTop.jpg') 0 0/100% 100% no-repeat;
}

.text-top {
    text-align: center;
    margin-top: -11px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.ion-align-self-end {
    margin-top: 2px;
}

:root {
    ion-tab-button:nth-child(1) {
        ion-icon {
            color: var(--ion-color-secondary) !important;
            /* --ion-color-base: var(--ion-color-secondary) !important; */
        }
    }
    ion-tab-button.tab-selected:nth-child(1) {
        ion-icon {
            color: var(--ion-color-secondary) !important;
            /* --ion-color-base: var(--ion-color-secondary) !important; */
        }
    }
}

ion-loading {
    color: green;
}

.iconText>ion-col>ion-icon {
    margin-left: 25px;
}

.iconText>ion-col>ion-label {
    position: flex;
    font-size: 12px;
    margin-left: 10px;
}

app-component-telemetry {
    width: 100%;
}

ion-segment-button {
    width: 10px;
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 10px;
    border: none;
    background-color: rgb(27, 25, 25);
    border-radius: 50%;
}

.my-custom-menu {
    --width: 500px;
}

ion-img {
    filter: brightness(90%);
    filter: contrast(90%);
    filter: drop-shadow(3px 3px 3px gray);
    display: inline-block;
    position: relative;
}

.bellnumbers {
    position: absolute;
    font-size: 12px;
    background-color: red;
    width: 18px;
    height: 18px;
    color: #fff;
    top: 15px;
    right: 9px;
    border-radius: 50%;
    filter: brightness(90%);
    filter: contrast(90%);
    filter: drop-shadow(3px 3px 3px gray);
}

ion-item-divider {
    font-size: 14px;
    min-height: 1px !important;
    max-height: 30px !important;
    --background: url('/assets/icon/greenBackTop.jpg') 0 0/100% 100% no-repeat;
    background-size: 800px 300px;
    //--background: rgba(157, 255, 173, 0.603) !important;
    align-items: center;
    text-align: center;
    border-radius: 7%;
    filter: brightness(90%);
    filter: contrast(90%);
    filter: drop-shadow(3px 3px 5px gray);
}

.textMedio {
    color: black;
    font-size: 18px;
    filter: brightness(90%);
    filter: contrast(90%);
    filter: drop-shadow(3px 3px 3px gray);
    top: -3px;
}
