<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button text="Back" defaultHref="/tabs/tab3/device" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-button (click)="goToInicio()" slot="end" fill="clear">
            skip
        </ion-button>

    </ion-toolbar>
    <ion-row>
        <ion-col size="4" class="ion-align-self-start">

        </ion-col>
        <ion-col size="4" class="ion-align-self-center">
            <ion-card color="transparent" class="deviceTemplate-card">
                <ion-img src='assets/icon/devicesW.png'></ion-img>

            </ion-card>
        </ion-col>
        <ion-col size="4" class="ion-align-self-end">
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="1" class="ion-align-self-start">

        </ion-col>
        <ion-col size="10" class="ion-align-self-center">

            <ion-list-header>
                <ion-label class="text-top">Add Device</ion-label>

            </ion-list-header>

        </ion-col>
        <ion-col size="1" class="ion-align-self-end">

        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="12">

            <ul class="progressbar">
                <li class="active">Scenario</li>
                <li class="active">User</li>
                <li class="active">Access mode</li>
                <li class="actual">Device</li>
                <li>Care plan</li>
                <li>Activities</li>

            </ul>

        </ion-col>
    </ion-row>

</ion-header>
<ion-content>

    <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input type="text" formControlName="Name" class="form-control"></ion-input>
            <div class="error" *ngIf="deviceForm.controls.Name.errors && deviceForm.controls.Name.touched">
                Please fill out this field
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input type="text" formControlName="Description" class="form-control"></ion-input>
            <div class="error" *ngIf="deviceForm.controls.Description.errors && deviceForm.controls.Description.touched">
                Please fill out this field
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Firm Version</ion-label>
            <ion-input type="text" formControlName="FirmVersion" class="form-control"></ion-input>
            <div class="error" *ngIf="deviceForm.controls.FirmVersion.errors && deviceForm.controls.FirmVersion.touched">
                Please fill out this field
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Tag</ion-label>
            <ion-input type="text" formControlName="Tag" class="form-control"></ion-input>
            <div class="error" *ngIf="deviceForm.controls.Tag.errors && deviceForm.controls.Tag.touched">
                Please fill out this field
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Serial Number</ion-label>
            <ion-input type="text" formControlName="SerialNumber" class="form-control"></ion-input>
            <div class="error" *ngIf="deviceForm.controls.SerialNumber.errors && deviceForm.controls.SerialNumber.touched">
                Please fill out this field
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Trademark</ion-label>
            <ion-input type="text" formControlName="Trademark" class="form-control"></ion-input>
            <div class="error" *ngIf="deviceForm.controls.Trademark.errors && deviceForm.controls.Trademark.touched">
                Please fill out this field
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Is Simulated</ion-label>
            <ion-toggle name="IsSimulated" formControlName="IsSimulated" checked="true"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Device Switch</ion-label>
            <ion-toggle name="DeviceSwitch" formControlName="DeviceSwitch" checked="true"></ion-toggle>
        </ion-item>
        <br>
        <br>

        <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="primary" [disabled]="!deviceForm.valid || deviceAddDone">Done</ion-button>
    </form>
    <br>
    <br>
    <div [hidden]="weHaveAccessModeId">
        <form [formGroup]="accessModeForm" (ngSubmit)="callAccessMode()" [hidden]="!deviceAddDone" class="animate__animated animate__slideInDown animate__fast">

            <ion-item lines="full">
                <ion-label position="stacked">Access Modes</ion-label>

                <ion-select multiple="false" okText="Okay" cancelText="Dismiss" formControlName="idAccessMode">

                    <div class="error" *ngIf="accessModeForm.controls.idAccessMode.errors && accessModeForm.controls.idAccessMode.touched">
                        Please fill out this field
                    </div>
                    <div>
                        <ion-select-option *ngFor="let profileAccessMode of allProfileAccessMods" [value]="profileAccessMode['Id']">{{profileAccessMode['Name']}}</ion-select-option>
                    </div>

                </ion-select>

            </ion-item>
            <br>
            <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="primary" [disabled]="!accessModeForm.valid || assignAccessModeDone">Done</ion-button>
        </form>
    </div>
    <br>
    <form [formGroup]="deviceTemplateForm" (ngSubmit)="assignDeviceTemplate()" [hidden]="!deviceAddDone" class="animate__animated animate__slideInDown animate__fast">

        <ion-item lines="full">
            <ion-label position="stacked">Device Templates</ion-label>

            <ion-select multiple="false" okText="Okay" cancelText="Dismiss" formControlName="p_devicetemplate_oid">

                <div class="error" *ngIf="deviceTemplateForm.controls.p_devicetemplate_oid.errors && deviceTemplateForm.controls.p_devicetemplate_oid.touched">
                    Please fill out this field
                </div>

                <div>
                    <ion-select-option *ngFor="let deviceTemplate of allDeviceTemplates" [value]="deviceTemplate['Id']">{{deviceTemplate['Name']}} </ion-select-option>

                </div>

            </ion-select>

        </ion-item>
        <br>
        <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="primary" [disabled]="!accessModeForm.valid || assignDeviceTemplateDone">Done</ion-button>
    </form>
    <br>

    <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="success" [disabled]="!allOkey" [routerLink]="['add-carePlan']">4/6 Next</ion-button>
</ion-content>
