<ion-menu contentId="main-content" side="start">
    <ion-header>
        <ion-toolbar>
            <ion-title>MoSIoT</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>

        <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let nav of NAV">
                <ion-item routerDirection="root" [routerLink]="nav.link" [class.active-menu]="active === nav.link">
                    <div *ngIf="nav.name ===  'Profile'"> {{'SCENARIO.profile' | translate}}</div>
                    <div *ngIf="nav.name ===  'Logout'"> {{'SCENARIO.logout' | translate}}</div>
                    <ion-icon slot="start" [ios]="nav.icon + '-outline'" [md]="nav.icon + '-sharp'"></ion-icon>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>


    </ion-content>
</ion-menu>

<!-- <ion-item *ngIf="showModal">
    <p><strong>{{idleState}}</strong></p>
    <button (click)="reset()" *ngIf="timedOut">Restart</button>
</ion-item> -->
<ion-item *ngIf="showModal" class="timerIdle">
    <div class="idle"> {{idleState}}</div>

</ion-item>
<ion-router-outlet id="main-content" main></ion-router-outlet>
