ion-content {
    --background: #bcd0eeb0;
}

.timerIdle {
    width: 100%;
    height: 200%;
    font-size: 60px;
    align-items: center;
    text-align: center;
    margin-top: 250px;
    font-family: 'Times New Roman', Times, serif;
    --background: #f4f80ce0;
    color: black;
}

.idle {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 55px;
    margin-right: 30px;
}
