<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button text="Back" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">

            <ion-button>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
    <ion-row>
        <ion-col size="4" class="ion-align-self-start">

        </ion-col>
        <ion-col size="4" class="ion-align-self-center">
            <ion-card color="transparent" class="deviceTemplate-card">
                <ion-img src='assets/icon/add-user.png'></ion-img>

            </ion-card>
        </ion-col>
        <ion-col size="4" class="ion-align-self-end">
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="1" class="ion-align-self-start">

        </ion-col>
        <ion-col size="10" class="ion-align-self-center">

            <ion-list-header>
                <ion-label class="text-top">Add New User</ion-label>

            </ion-list-header>

        </ion-col>
        <ion-col size="1" class="ion-align-self-end">

        </ion-col>

    </ion-row>


</ion-header>
<ion-content>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input type="text" formControlName="Name" class="form-control" required></ion-input>
            <div class="error" *ngIf="userForm.controls.Name.errors && userForm.controls.Name.touched">
                To add User please fill out this field
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Surnames</ion-label>
            <ion-input type="text" formControlName="Surnames" class="form-control" required></ion-input>
            <div class="error" *ngIf="userForm.controls.Surnames.errors && userForm.controls.Surnames.touched">
                To add User please fill out this field
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" formControlName="Pass" class="form-control" required></ion-input>
            <div class="error" *ngIf="userForm.controls.Pass.errors && userForm.controls.Pass.touched">
                To add User please fill out this field
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" formControlName="Email" class="form-control" required></ion-input>
            <div class="error" *ngIf="userForm.controls.Email.errors && userForm.controls.Email.touched">
                To add User please fill out this field
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input type="text" formControlName="Description" class="form-control"></ion-input>
            <div class="error" *ngIf="userForm.controls.Description.errors && userForm.controls.Description.touched">
                To add User please fill out this field
            </div>
        </ion-item>
        <ion-item lines="full">
            <ion-label>Gender</ion-label>
            <ion-select value="number" okText="Okay" cancelText="Dismiss" formControlName="Type">
                <div class="error" *ngIf="userForm.controls.Type.errors && userForm.controls.Type.touched">
                    Please fill out this field
                </div>
                <ion-select-option value="1">Male</ion-select-option>
                <ion-select-option value="2">Female</ion-select-option>
                <ion-select-option value="3">Other</ion-select-option>
                <ion-select-option value="4">Unknown</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>IsDiseased</ion-label>
            <ion-toggle name="IsDiseased" formControlName="IsDiseased" checked="true"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>IsActive</ion-label>
            <ion-toggle name="IsActive" formControlName="IsActive" checked="true"></ion-toggle>
        </ion-item>


        <br>
        <br>

        <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="light" [disabled]="!userForm.valid">Done</ion-button>
    </form>
</ion-content>