/* DOES NOT WORK - not specific enough */


/* Works - pass "my-custom-class" in cssClass to increase specificity */

.my-custom-class {
    color: green;
}

ion-content {
    --background: url('/assets/icon/backW.jpg') 0 0/100% 100% no-repeat;
    border-radius: 20px;
}

.ionadd {
    margin-right: 20px;
    margin-top: 10px;
}

ion-card {
    box-shadow: none !important
}

ion-toolbar {
    --background: rgb(255, 232, 128) !important;
}

ion-header {
    background-color: rgb(255, 232, 128);
}

.text-top {
    text-align: center;
    margin-top: -16px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.ion-align-self-center {
    margin-top: -15px;
}

:root {
    ion-tab-button:nth-child(1) {
        ion-icon {
            color: var(--ion-color-secondary) !important;
            /* --ion-color-base: var(--ion-color-secondary) !important; */
        }
    }
    ion-tab-button.tab-selected:nth-child(1) {
        ion-icon {
            color: var(--ion-color-secondary) !important;
            /* --ion-color-base: var(--ion-color-secondary) !important; */
        }
    }
}

ion-loading {
    color: green;
}

.iconText>ion-col>ion-icon {
    margin-left: 25px;
}

.iconText>ion-col>ion-label {
    position: flex;
    font-size: 12px;
    margin-left: 14px;
}

.segmentIcon {
    margin-right: 7px;
    height: 14px;
}

ion-list-header {
    margin-bottom: -9px;
}

app-component-telemetry {
    width: 100%;
}

ion-segment-button {
    width: 40px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 10px;
    border: none;
    background-color: rgb(248, 248, 248);
    border-radius: 0%;
}