<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button text="back" defaultHref="/tabs/tab2/careplan" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>


        <ion-button slot="end" fill="clear" href="/tabs/tab0">
            skip
        </ion-button>


    </ion-toolbar>
    <ion-row>
        <ion-col size="4" class="ion-align-self-start">

        </ion-col>
        <ion-col size="4" class="ion-align-self-center">
            <ion-card color="transparent" class="deviceTemplate-card">
                <ion-img src='assets/icon/carePlansW.png'></ion-img>

            </ion-card>
        </ion-col>
        <ion-col size="4" class="ion-align-self-end">
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="1" class="ion-align-self-start">

        </ion-col>
        <ion-col size="10" class="ion-align-self-center">

            <ion-list-header>
                <ion-label class="text-top">Add Care Plan</ion-label>

            </ion-list-header>

        </ion-col>
        <ion-col size="1" class="ion-align-self-end">

        </ion-col>

    </ion-row>


</ion-header>
<ion-content>

    <form [formGroup]="carePlanForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input type="text" formControlName="Name" class="form-control"></ion-input>
            <div class="error" *ngIf="carePlanForm.controls.Name.errors && carePlanForm.controls.Name.touched">
                Please fill out this field
            </div>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input type="text" formControlName="Description" class="form-control"></ion-input>
            <div class="error" *ngIf="carePlanForm.controls.Description.errors && carePlanForm.controls.Description.touched">
                Please fill out this field
            </div>
        </ion-item>
        <br>
        <br>

        <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="primary" [disabled]="!carePlanForm.valid || carePlanAddDone">Done</ion-button>
    </form>
    <br>
    <br>
    <form [formGroup]="carePlantemplateForm" (ngSubmit)="assignCarePlanTemplate()" [hidden]="!carePlanAddDone" class="animate__animated animate__slideInDown animate__fast">

        <ion-item lines="full">
            <ion-label position="stacked">Care plan Template</ion-label>

            <ion-select multiple="false" okText="Okay" cancelText="Dismiss" formControlName="idCarePlanTemplate">

                <div class="error" *ngIf="carePlantemplateForm.controls.idCarePlanTemplate.errors && carePlantemplateForm.controls.idCarePlanTemplate.touched">
                    Please fill out this field
                </div>

                <div>
                    <ion-select-option *ngFor="let carePlan of carePlanTemplateList" [value]="carePlan['Id']">{{carePlan['Name']}}</ion-select-option>

                </div>

            </ion-select>

        </ion-item>
        <br>
        <br>

        <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="primary" [disabled]="!carePlantemplateForm.valid || assignCarePlanTemplateDone">Done</ion-button>
    </form>
    <br>
    <br>
    <ion-button expand="block " class="save" size="small" fill="solid" type="submit" (click)="inicio()" color="success" [disabled]="!assignCarePlanTemplateDone">5/5 Finish</ion-button>
</ion-content>